div.blueTable {
  /* font-family: Georgia, serif; */
  border: 6px solid #336B87;
  text-align: center;
  margin: 5% 1%;
}
.divTable.blueTable .divTableCell, .divTable.blueTable {
  border: 1px solid #336B87;
  padding: 3px 2px;
}

.divTable { display: table; margin-bottom: 5% }
.divTableRow { display: table-row; }
.divTableCell { display: table-cell;}
.divTableBody { display: table-row-group;}

div.fixed {
    position: fixed;
    margin:auto;
    bottom: 0;
}
